/* Register.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F2E9D8;
}


.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: var(--PrimaryColor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #528731;
}
button:active {
    transform: scale(0.95);
}   

.error {
    color: red;
}

/* Text link styles */
.registerText {
    text-align: center;
    margin-top: 10px;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}